@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Poppins:wght@100&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Poppins:wght@100&family=Quicksand:wght@300&family=Viga&display=swap');

body {
    background-color: #212529;
}

.navbar-brand {
    font-family: 'Akaya Telivigala', cursive;
}

.navbar-nav {
    font-family: 'Quicksand', sans-serif;
    margin-right: 50px;
    padding-right: 60px;
}

.jumbotron h2 {
    color: green;
    margin-top: 2rem;
    font-family: 'Viga', sans-serif;

}

.jumbotron h3 {
    color: #fff;
    font-family: 'Viga', sans-serif;
}

.jumbotron p {
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.jumbotron .sosmed li {
    list-style: none;
    display: inline-block;
}

.jumbotron .sosmed li a {
    color: #fff;
    margin-left: 20px;
}

.btn {
    margin-left: -31px;
}

.jumbotron .gambar {
    margin-left: 50rem;
    margin-top: -18rem;
}

/* Desktop Version */
@media (min-width: 992px) {
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0b63dc;
        width: 50%;
        margin: auto;
        margin-bottom: -8px;
    }
}

.mainkonten h2 {
    color: #fff;
    margin-top: 20px;

}

.contact h2 {
    color: #fff;
}

.contact {
    color: #fff;
}